* {
  margin: 0;
  padding: 0;
}

body{
    background-color: #F0FFFF!important;
    font-family: 'Montserrat';
    /* margin: 0 15%; */
}

/* ---MENU--- */
header{
    margin: 0 15%
}

.navbar, .bg-body-tertiary{
    background-color: azure!important;
}

.container-fluid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15%;
    margin: 1% 0;
}

.nav-item{
    display: grid;
    width: 100%;
    font-size: 1em;
    padding: 10px;
    transition: 0.3s;
}

.nav-item:hover{
    display: grid;
    width: 100%;
    font-size: 1.1em;
    padding: 10px;
    transition: 0.3s;
}


.nav-link{
    padding: 0;
}

.navbar-nav{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
}

/*Submenu Dropdown*/
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  background-color: #f0f0f0;
  border-radius: 5px;
}

.dropdown-item {
  padding: 10px;
  font-size: 1em;
}

.dropdown-item:hover {
  background-color: #d3d3d3;
}

.container-fluid > img{
    width: 10%;
}

.icones > svg{
    width: 26%;
    transition: 0.5s;
}

.icones > svg:hover{
    fill: rgba(186, 186, 255, 0.548);
    cursor: pointer;
    width: 29%;
    transition: 0.5s;
}

/* ---CARROSEL INICIAL--- */

.carrosel{
    margin: 0 15%
}

.carousel-item.active{
    margin: 0 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: white;
    height: 60vh;
    border-radius: 20px;
    gap: 5px;
    text-align: center;
}

#one{
    background-image: url(assets/img/index_imagens/bg_home_eco.png);
}

#one a{
    color: white;
}

#two a{
   color: white; 
}

#one h2{
    font-weight: 700;
}

.carousel-item.active img{
    width: 150px;
}

#two{
    background-image: url(assets/img/index_imagens/bg_home_2.png);
}

/* ---SECÇÃO CATEGORIAS--- */
.principais{
    margin: 0 15%;
}

.container h2{
    font-size: 23px;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* height: 40vh; */
    margin: 0 0 40px 0;
    background-repeat: no-repeat;
}

.imagens{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50vh;
    text-align: center;
    gap: 10px;
}

.imagens h2{
    font-size: 1.2em;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 60px 20px 60px 20px;
    background-position: center;
    border-radius: 10px;
}

.imagens a{
    color: black;
    font-size: 12px;
}

.imagens button{
    border-radius: 50px;
    padding: 5px;
    width: 65%;
    border: 0px;
}

#img-1{
    background-image: url(assets/img/index_imagens/frame11.png);
}

#img-2{
    background-image: url(assets/img/index_imagens/frame10.png);
    color: aliceblue; 
}

#img-3{
    background-image: url(assets/img/index_imagens/frame9.png); 
}

#img-4{
    background-image: url(assets/img/index_imagens/frame7.png);
    color: aliceblue; 
}

/* SECÇÃO PRODUTOS */
.line{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent!important;;
    border: 1px solid #00000021;
    width: 25%;
}

.produtos{
    margin-bottom: 55px;
    margin: 0 15% 5% 15%;
}

.produtos > h2{
    font-size: 1.4em;
    margin-bottom: 15px;
}

.card-img-top{
    width: 60%;
}

.card-body{
    background-color: #f3f3f36f;
    padding: 20px 30px;
    border-radius: 10px;
}

.card-body h4{
    font-size: 0.9em;
    color: rgb(86, 207, 30);
}

.card-body h5{
    font-size: 0.9em;
}

.card-body a{
    background-color: #01c411;
    border:#00000021;
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    padding: 10px;
    font-weight: 500;
}

.card-body p{
    font-size: 1em;
    font-weight: 500;
}

/* FOOTER */
footer{
    background-color: #e9e9e9e0;
    padding: 7% 18%;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: left;
}

footer h2{
    font-size: 1.2em;
}

footer a{
    line-height: 32px;
    color: #000000;
    font-size: 0.9em;
}

footer img{
    width: 4%;
}

footer .sociais{
    width: 50%;
}

footer .menu-f{
    display: flex;
    flex-direction: column;
    width: 25%;
}

footer .categorias{
    width: 25%;
    display: flex;
    flex-direction: column;
}

/* SECÇÃO PROPÓSITO */
.proposito{
    display: flex;
    flex-direction: row;
    margin:0 15%;
    gap: 1.5%;
    margin-bottom: 5%;
}

.proposito .col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding: 6%;
    height: 40vh;
    gap: 10px;
    border-radius: 15px;
}

.proposito img{
    width: 30%;
}

.proposito h2{
    color: white;
    font-size: 1.3em;
}

.proposito button{
    width: 55%;
    padding: 10px;
    border-radius: 40px;
}

.proposito a{
    color: #000000;
    text-decoration: none;
}

#prop-1{
    background-image: url('assets/img/index_imagens/obras.png');
}

#prop-2{
    background-image: url('assets/img/index_imagens/produzidos.png');
}

/* AJUSTES RESPONSIVO */
@media (max-width: 990px) {
    header, .carrosel{
        margin: 4%;
    }

    .navbar .navbar-brand {
        display: none;
    }

    /* RESPONSIVO SECÇÃO CATEGORIAS */
    .imagens{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .col{
        display: flex;
        flex-direction: column;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 20px;
    }

    .container h2{
        font-size: 1.3em;
        text-align: center;
        margin-bottom: 20px;
    }

    .principais{
        margin: 6% 4%;
        height: 150vh;
    }

    .produtos {
        width: 90%; 
        max-width: 600px; 
        margin: 0 auto 5%;
    }

    .produtos > h2 {
        text-align: center;
        font-size: 1.4em;
        margin-bottom: 25px; 
    }

    .line {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        margin: 0;
        padding: 0;
    }

    .card {
        width: 100%;
    }

    .card img {
        width: 60%;
    }

    .card-body{
        width: 100%;
        background-color: #f3f2f2e0;
    }

    /* ESTILIZAÇÃO FOOTER */
    footer{
        padding: 8%;
        justify-content: center;
    }

    footer .categorias{
        display: none;
    }

    footer > .sociais, .menu-f{
        width: 50%;
    }

    footer h2{
        font-size: 1.1em;
    }

    footer img{
        width: 10%;
    }

    .proposito{
        display: flex;
        flex-direction: column;
        margin:5% 7% 0 7%;
        gap: 20px;
        margin-bottom: 5%;
    }

    .proposito h2{
        font-size: 1.1em;
    }


}
